

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Lato', sans-serif;
	background-color: #EEE;
}

#page-wrapper{

	position: relative;
}

div .container{

	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	text-align: center;
}

#header{
	top: 0;
	position: fixed;
	width: 100%;
	min-height: 75px;
	padding: 0px 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #FFF;
}

#header-img{
	/*display: block;*/
	/*height: 150px;
	width: auto;*/
	height: 75px;
	width: 75px;
	max-width: 75px;
	align-self: flex-start;
}

#introduction-section{
	margin-top: 120px;
	height: 180px;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

#introduction-section h1{
	margin-bottom: 20px;
}


#form input[type="email"]{
	max-width: 275px;
	width: 100%;
	height: 30px;
	text-align: center;
}

#submit{
	background-color: #f1c40f;
	max-width: 150px;
	width: 100%;
	height: 30px;
	margin: 15px;
	border: 0;
}

.btn{
	font-size: 1em;
	font-weight: 900;
	text-transform: uppercase;
}

nav{
	font-weight: 400;

}

nav ul{
	display: flex;
	width: 70vw;
	justify-content: space-around;

}

a{
	color: #000;
	text-decoration: none;
}

li{
	list-style: none;
}


.grid{

	display: flex;
}


.icon{

	width: 20vw;
}

.description{

	width: 60vw;
	text-align: left;
	padding: 5px;
}



#features{
	padding-top: 10vh;
}

#how-it-works{
	padding-top: 10vh;
	display: flex;
	justify-content: center;
}

#pricing{
	padding-top: 15vh;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.column{
	width: 100%;
}

#pricing #black-cat, 
#pricing #white-cat,
#pricing #bicolor-cat{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border: 1px solid;
	border-radius: 3px;
	width: calc(100%/3);
	margin: 10px;

}

#pricing #black-cat .picture-cat, 
#pricing #white-cat .picture-cat, 
#pricing #bicolor-cat .picture-cat
{
	max-width: 220px;
	width: 100%;
	height: 165px;
	margin: 20px;
}


#pricing #black-cat .title-price, 
#pricing #white-cat .title-price, 
#pricing #bicolor-cat .title-price
{
	background-color: #DDD;
	text-transform: uppercase;
	width: 100%;
	padding: 20px 0px 20px 0px;
	font-weight: 700;
}

#pricing #black-cat button, 
#pricing #white-cat button, 
#pricing #bicolor-cat button{
	border: 0;
	max-width: 80px;
	width: 100%;
	height: 30px;
	background-color: #f1c40f;
	margin: 20px;
}


footer{
	background-color: #DDD;
	margin: 20px 0px 20px 0px;
	padding: 10px; 
}

footer ul{
	display: flex;
	justify-content: flex-end;
}

footer span{
	display: flex;
	justify-content: flex-end;
}





@media (max-width: 850px){



	#pricing {
		flex-direction: column;
		margin: 20px;
	}

	#pricing #black-cat, 
	#pricing #white-cat,
	#pricing #bicolor-cat{
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
	}

}




@media (max-width: 600px){
	.grid{
		flex-direction: column;
	}

	.icon{
		width: 100%;
		text-align: center;
	}

	.description{
		width: 100%;
		text-align: center;
		padding: 5px;
		margin-bottom: 20px;
	}

	nav ul{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}




@media (max-width: 400px){
	
	#header{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#header-img{
		align-self: center; 
		margin-bottom: 10px;
	}


	#introduction-section{
		margin-top: 150px;
		height: 200px;
		text-align: center;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
	}

}
